In [1]:

import os 
import sys
sys.path.append(os.path.join(os.getcwd(),"..","Algorithm encapsulation"))
import pandas as pd
from Simulation import Simulation
import numpy as np

In [2]:
from  SimAnalysis import SimAnalysis
df=pd.read_csv("./a.csv")
phase = np.loadtxt("./data/phase")
ex=[1,0,1,0,1,0,1,1,1,1,1,0]
sim=SimAnalysis(df,phase,ex,os.path.join(os.getcwd(),"..","vissim","aa","zhongsan.inp"),
               os.path.join(os.getcwd(),"..","vissim","aa","vissim.ini"),
               os.path.join(os.getcwd(),"..","vissim","aa","zhongsan - 副本.inp"))
sim.start()
spdx=sim.analysis_speed(os.path.join(os.getcwd(),"..","vissim","aa","zhongsan - 副本.fzp"))
delayx=sim.analysis_delay(os.path.join(os.getcwd(),"..","vissim","aa",'zhongsan - 副本.vlz'))
tvltx=sim.analysis_traveltime(os.path.join(os.getcwd(),"..","vissim","aa",'zhongsan - 副本.rsz'))

In [3]:
delayx=delayx.drop(columns=["stoped"+str(i) for i in range(1,9)]+["vehicle"+str(i) for i in range(1,9)])
delayx

,timeNo.:,delay1,stops1,per delay1,pers1,delay2,stops2,per delay2,pers2,delay3,...,per delay6,pers6,delay7,stops7,per delay7,pers7,delay8,stops8,per delay8,pers8
0,600,0.0,0.00,0.0,0,186.1,9.00,186.1,2,0.0,...,0.0,0,0.0,0.00,0.0,0,0.0,0.00,0.0,0
1,1200,0.0,0.00,0.0,0,317.0,12.46,317.0,26,227.9,...,256.7,13,0.0,0.00,0.0,0,0.0,0.00,0.0,0
2,1800,508.9,16.20,455.6,34,348.8,12.92,348.8,36,418.7,...,394.9,16,508.9,16.20,455.6,34,539.4,23.50,616.2,4
3,2400,584.4,20.29,512.9,72,301.0,13.03,301.0,36,498.6,...,522.7,15,584.3,20.29,512.9,72,679.5,48.33,700.0,5
4,3000,622.5,19.64,540.5,62,353.2,13.92,353.2,24,457.2,...,632.1,15,622.4,19.64,540.5,62,727.3,64.25,779.0,6
5,3600,603.7,21.00,460.0,76,337.7,11.91,337.7,11,481.9,...,767.0,18,603.6,20.96,460.0,76,909.4,99.00,1017.4,3
6,Total,588.6,19.89,495.5,244,327.4,12.90,327.4,135,457.7,...,529.6,77,588.5,19.88,495.5,244,698.7,55.88,760.6,18

In [4]:
tvltx

,timeNo.:,traveltime1,vehicles1,traveltime2,vehicles2,traveltime3,vehicles3,traveltime4,vehicles4,traveltime5,vehicles5,traveltime6,vehicles6,traveltime7,vehicles7,traveltime8,vehicles8
0,600,0.0,0,542.5,2,0.0,0,0.0,0,488.3,2,0.0,0,0.0,0,0.0,0
1,1200,0.0,0,685.1,26,934.1,4,0.0,0,515.8,17,736.4,13,0.0,0,0.0,0
2,1800,1424.4,9,707.9,34,1178.2,19,1365.2,6,499.8,5,888.5,16,1489.7,1,1372.4,2
3,2400,1511.6,21,665.0,33,1261.3,25,1477.4,6,663.4,11,1011.8,15,1499.0,2,1477.1,1
4,3000,1530.2,11,723.4,24,1242.4,29,1575.7,8,659.7,13,1120.5,15,1515.2,2,1495.8,2
5,3600,1519.9,25,714.6,11,1266.3,27,1740.7,4,593.4,10,1250.6,18,1413.1,2,1518.2,1
6,3600,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0