In [1]:
import numpy as np
import sys
import os
sys.path.append(os.path.join(os.getcwd(),"../Algorithm encapsulation"))
sys.path.append(os.path.join(os.getcwd(),".."))
print(sys.path)
from MXband import MXband
from MPbandTool import MPbandTool
import pandas as pd
from ga_platoon import max_dt

['f:\\workspace\\jupyter\\论文\\graduation thesis\\Case Analysis', 'd:\\anaconda\\envs\\cplex\\python37.zip', 'd:\\anaconda\\envs\\cplex\\DLLs', 'd:\\anaconda\\envs\\cplex\\lib', 'd:\\anaconda\\envs\\cplex', '', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\chardet-3.0.4-py3.7.egg', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\docloud-1.0.375-py3.7.egg', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\urllib3-1.25.11-py3.7.egg', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\fonttools-4.36.0-py3.7.egg', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\cvxopt-1.3.0-py3.7-win-amd64.egg', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\pytz-2022.2.1-py3.7.egg', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\win32', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\win32\\lib', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\Pythonwin', 'd:\\anaconda\\envs\\cplex\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\0\\.ipython', 'f:\\workspace\\jupyter\\论文\\graduation thesis\\Case Analysis\\../Algorithm encapsulation', 'f:\\workspace\\jupyter\\论文\\graduation thesis\\Case Analysis\\..']

In [2]:
def get_rf(d,p):
    tmp=[]
    for i,a in enumerate(p):
        idx=np.where(a!=0)[0]
        a=a&0
        if len(idx)>0:
            a[:idx[0]]=1
        tmp.append((d[i]*a).sum())
    return tmp

In [3]:
phase = np.loadtxt("./data/phase")
cir=phase[0].sum()
phase=phase/cir
vol = np.loadtxt("./data/volume")
qv = np.loadtxt("./data/path_vol")
phase_get = np.load("./data/phase_get.npy")
d = np.loadtxt("./data/distance")
straight_get = np.load("./data/straight_get.npy")
ison = np.array([0, 0, 0, 1, 1, 1])
px = np.array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
               [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])
pxb = np.array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
               [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])
qb=[120,120]
lower, upper = 8,14
linspace = np.arange(lower, upper, 1)
lin_num = len(linspace)

# 南北直行方向绿灯时间
sg=np.array([(straight_get[i]*phase).sum(axis=1) for i in range(len(straight_get))])
rho = vol[0] / vol[1]
num = len(vol[0])
numr = len(qv)
nump = len(phase_get)
M = 1e6
nx = 0.00000001
be = 8
speedScope = np.array([lower, upper])
speedVar = np.array([-2, 2])

g=np.array([(phase_get[i]*phase).sum(axis=1) for i in range(numr) ])
r=1-g
rf=np.array([get_rf(phase,phase_get[i]) for i in range(numr)])

ex=[1,0,1,0,1,0,1,1,1,1,1,0]
dwt=15
qb_x=np.ones_like(sg)*20
cap=np.ones_like(sg,dtype=int)*3

spd_on=pd.read_csv(os.path.join(os.getcwd(),"..","speed analysis","上行速度数据.csv"),index_col=0)
spd_in=pd.read_csv(os.path.join(os.getcwd(),"..","speed analysis","下行速度数据.csv"),index_col=0)

p=[0,0,0,0,1,0,0,0,1,0,1,0,0]

In [4]:
mb=MXband(phase,[80,180],straight_get,d,lower,upper,speedVar[0], speedVar[1],vol,px)
mb._solve()

conflict(s): 0
Version identifier: 12.10.0.0 | 2019-11-26 | 843d4de2ae
CPXPARAM_Read_DataCheck                          1
CPXPARAM_RandomSeed                              201903125

Multi-objective solve log . . .

Index  Priority  Blend          Objective      Nodes  Time (sec.)  DetTime (ticks)
    1         0      3   1.3945155810e+03        297         0.08            33.95
status  = multi-objective optimal
time    = 0.078 s.
problem = MILP
gap     = 4.58476e+73%

object value: 2181

In [5]:
a=mb.get_dataframe()
a

,cross_number,distance,sg1,sg2,b1,b2,offset,p,t1,t2,z,u1,u2,w1,car_t1,w2,car_t2
0,1.0,800.0,0.282,0.380,0.282000,0.380,0.000000,0.0,91.520000,68.960000,80.000000,0.0,0.0,0.141000,11.139000,0.1900,37.570000
1,2.0,520.0,0.426,0.368,0.260000,0.368,0.000000,0.0,37.142857,49.257143,80.000000,0.0,0.0,0.285000,22.670000,0.1840,48.616000
2,3.0,500.0,0.260,0.230,0.260000,0.230,49.542857,0.0,37.300000,62.500000,80.000000,0.0,0.0,0.130000,59.812857,0.1150,79.427857
3,4.0,490.0,0.277,0.277,0.255000,0.230,6.842857,0.0,35.185714,44.614286,80.000000,0.0,0.0,0.130000,17.115357,0.1275,16.927857
4,5.0,370.0,0.255,0.255,0.255000,0.255,42.228571,0.0,33.722833,26.428571,80.000000,0.0,0.0,0.127500,52.301071,0.1275,52.301071
5,6.0,254.0,0.650,0.650,0.153785,0.650,0.000000,1.0,18.142857,18.142857,146.250000,0.0,0.0,0.076893,11.168643,0.3250,47.206250
6,7.0,585.0,0.243,0.243,0.243000,0.243,11.619018,0.0,73.125000,73.125000,146.250000,0.0,0.0,0.121500,29.266893,0.1215,29.266893
7,8.0,1020.0,0.165,0.165,0.165000,0.165,49.475702,1.0,72.857143,81.822857,80.000000,0.0,0.0,0.082500,55.993202,0.0825,55.993202
8,9.0,409.0,0.298,0.298,0.298000,0.165,37.012845,0.0,37.411961,47.908039,80.000000,0.0,0.0,0.149000,48.783845,0.2155,54.170345
9,10.0,547.0,0.379,0.379,0.379000,0.379,79.500000,1.0,55.232123,39.071429,89.344909,0.0,0.0,0.189500,96.241360,0.1895,96.241360
10,11.0,566.0,0.490,0.490,0.490000,0.379,40.428571,0.0,40.428571,40.428571,89.344909,0.0,0.0,0.245000,62.073074,0.1895,57.169932
11,12.0,831.0,0.379,0.379,0.300000,0.379,0.000000,1.0,103.875000,83.235000,180.000000,0.0,0.0,0.150000,26.850000,0.1895,33.920500
12,13.0,NaN,0.300,0.300,0.300000,0.300,103.875000,0.0,NaN,NaN,180.000000,0.0,0.0,0.150000,130.725000,0.1500,130.725000

In [6]:
mpb=MPbandTool(phase, [80,180], vol, qv, phase_get, d, straight_get, ison, px, pxb, qb, lower, upper, 
            be, speedVar[0], speedVar[1],ex, dwt,lower,upper,speedVar[0], speedVar[1],a.p,a.offset/a.z,
            1/a.z,np.array([a.t1/a.z,a.t2/a.z]))
mpb._solve()

Warning: Multi-objective has been converted to single objective: 187b_0_0+187b_0_..
conflict(s): 0
Version identifier: 12.10.0.0 | 2019-11-26 | 843d4de2ae
CPXPARAM_Read_DataCheck                          1
CPXPARAM_RandomSeed                              201903125
1 of 1 MIP starts provided solutions.
MIP start 'm1' defined initial solution with objective 0.0000.
Tried aggregator 3 times.
MIP Presolve eliminated 767 rows and 250 columns.
MIP Presolve modified 926 coefficients.
Aggregator did 58 substitutions.
Reduced MIP has 454 rows, 236 columns, and 1162 nonzeros.
Reduced MIP has 37 binaries, 34 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (2.08 ticks)
Probing fixed 1 vars, tightened 58 bounds.
Probing time = 0.00 sec. (0.12 ticks)
Tried aggregator 1 time.
MIP Presolve eliminated 74 rows and 63 columns.
MIP Presolve modified 193 coefficients.
Reduced MIP has 380 rows, 173 columns, and 974 nonzeros.
Reduced MIP has 20 binaries, 33 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (0.56 ticks)
Probing time = 0.00 sec. (0.08 ticks)
Tried aggregator 1 time.
Detecting symmetries...
MIP Presolve modified 2 coefficients.
Reduced MIP has 380 rows, 173 columns, and 974 nonzeros.
Reduced MIP has 20 binaries, 33 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (0.57 ticks)
Probing time = 0.00 sec. (0.06 ticks)
Clique table members: 2.
MIP emphasis: balance optimality and feasibility.
MIP search method: dynamic search.
Parallel mode: deterministic, using up to 16 threads.
Root relaxation solution time = 0.00 sec. (1.42 ticks)

        Nodes                                         Cuts/
   Node  Left     Objective  IInf  Best Integer    Best Bound    ItCnt     Gap

*     0+    0                            0.0000     5690.4970              ---
*     0+    0                         3839.6385     5690.4970            48.20%
      0     0     3915.4751    40     3839.6385     3915.4751      185    1.98%
      0     0     3858.8260    40     3839.6385      Cuts: 85      237    0.50%
      0     0        cutoff           3839.6385                    239     ---
Elapsed time = 0.03 sec. (20.06 ticks, tree = 0.01 MB, solutions = 2)

Implied bound cuts applied:  11
Flow cuts applied:  17
Mixed integer rounding cuts applied:  17
Zero-half cuts applied:  1
Gomory fractional cuts applied:  8

Root node processing (before b&c):
  Real time             =    0.03 sec. (20.09 ticks)
Parallel b&c, 16 threads:
  Real time             =    0.00 sec. (0.00 ticks)
  Sync time (average)   =    0.00 sec.
  Wait time (average)   =    0.00 sec.
                          ------------
Total (root+branch&cut) =    0.03 sec. (20.09 ticks)
status  = integer optimal solution
time    = 0.047 s.
problem = MILP
gap     = 0%

object value: 3839.638513062948

In [7]:
a=mpb.get_dataframe()
a

,cross_number,distance,b1,b2,b3,b4,b5,b6,offset,p,...,u1,u2,u3,u4,u5,u6,bb1,bb2,tb1,tb2
0,1.0,800.0,0.282000,0.282000,0.000000,0.276343,0.000,0.380,0.000000,0.0,...,0.0,0.000000e+00,0.0000,0.0,0.000000e+00,0.000000e+00,0.282,0.380,72.142857,72.142857
1,2.0,520.0,0.260000,0.260000,0.000000,0.368000,0.000,0.368,0.000000,0.0,...,0.0,0.000000e+00,0.0000,0.0,0.000000e+00,0.000000e+00,0.260,0.368,37.142857,37.142857
2,3.0,500.0,0.260000,0.260000,0.000000,0.230000,0.000,0.230,49.542857,0.0,...,0.0,0.000000e+00,0.0000,0.0,0.000000e+00,0.000000e+00,0.260,0.230,50.714286,50.714286
3,4.0,490.0,0.255000,0.255000,0.000000,0.230000,0.000,0.230,6.842857,0.0,...,0.0,0.000000e+00,0.0000,0.0,0.000000e+00,0.000000e+00,0.255,0.230,35.000000,35.000000
4,5.0,370.0,0.255000,0.255000,0.000000,0.255000,0.000,0.255,42.228571,0.0,...,0.0,0.000000e+00,0.0000,0.0,0.000000e+00,0.000000e+00,0.255,0.255,41.428571,41.428571
5,6.0,254.0,0.153785,0.125785,0.153785,0.650000,0.000,0.650,0.000000,1.0,...,1.0,9.860000e-01,0.1275,1.0,1.000000e-08,1.000000e+00,0.243,0.650,18.142857,18.142857
6,7.0,585.0,0.243000,0.215000,0.243000,0.243000,0.000,0.243,11.619018,0.0,...,0.0,0.000000e+00,0.0000,0.0,0.000000e+00,0.000000e+00,0.243,0.243,56.785714,56.785714
7,8.0,1020.0,0.165000,0.000000,0.165000,0.165000,0.000,0.000,49.475702,1.0,...,1.0,1.000000e-08,1.0000,1.0,1.000000e-08,1.000000e-08,0.165,0.165,87.857143,87.857143
8,9.0,409.0,0.100000,0.000000,0.172381,0.165000,0.000,0.000,37.012845,0.0,...,0.0,0.000000e+00,0.0000,0.0,0.000000e+00,0.000000e+00,0.298,0.165,44.214286,44.214286
9,10.0,547.0,0.379000,0.000000,0.379000,0.379000,0.379,0.000,79.500000,1.0,...,1.0,1.000000e-08,1.0000,1.0,7.845000e-01,1.000000e-08,0.379,0.379,54.071429,54.071429
10,11.0,566.0,0.490000,0.000000,0.490000,0.379000,0.379,0.000,40.428571,0.0,...,0.0,0.000000e+00,0.0000,0.0,0.000000e+00,0.000000e+00,0.490,0.379,55.428571,55.428571
11,12.0,831.0,0.300000,0.000000,0.300000,0.379000,0.379,0.000,0.000000,1.0,...,1.0,1.000000e-08,1.0000,1.0,1.000000e+00,1.000000e-08,0.300,0.379,59.357143,59.357143
12,13.0,NaN,0.300000,0.000000,0.300000,0.300000,0.300,0.000,103.875000,0.0,...,0.0,0.000000e+00,0.0000,0.0,0.000000e+00,0.000000e+00,0.300,0.300,NaN,NaN

In [8]:
from  SimAnalysis import SimAnalysis
df=mpb.get_dataframe()
df["dw1"]=np.ones_like(df.z)*dwt
df["dw2"]=np.ones_like(df.z)*dwt
sim=SimAnalysis(df,phase,ex,os.path.join(os.getcwd(),"..","vissim","aa","zhongsan.inp"),
               os.path.join(os.getcwd(),"..","vissim","aa","vissim.ini"),
               os.path.join(os.getcwd(),"..","vissim","aa","zhongsan - 副本.inp"))
sim.start()
spdx=sim.analysis_speed(os.path.join(os.getcwd(),"..","vissim","aa","zhongsan - 副本.fzp"))
delayx=sim.analysis_delay(os.path.join(os.getcwd(),"..","vissim","aa",'zhongsan - 副本.vlz'))
tvltx=sim.analysis_traveltime(os.path.join(os.getcwd(),"..","vissim","aa",'zhongsan - 副本.rsz'))

In [9]:
spdx.to_csv("./sensitivity/spdx/MTband.csv",encoding="utf-8-sig")

In [10]:
i=1
delayx[["delay"+str(i),"stoped"+str(i),"stops"+str(i),"vehicle"+str(i)]]

  delay1 stoped1 stops1 vehicle1
0    0.0     0.0   0.00        0
1    0.0     0.0   0.00        0
2  448.4   353.2  12.80       10
3  483.1   379.4  13.88       24
4  521.7   388.5  17.86       21
5  536.7   407.5  20.73       22
6  504.4   386.5  16.78       77

In [11]:
a=tvltx["traveltime"+str(i)].astype(float)
a[a!=0].mean()

1364.6000000000001

In [12]:
a.b1.mean(),a.b2[:8].mean(),a.b3[4:].mean(),a.b4.mean(),a.b5[7:].mean(),a.b6[:8].mean(),a.bb1.mean(),a.bb2.mean()

AttributeError: 'Series' object has no attribute 'b1'

In [ ]:
dwm=np.array([[22.60083057,13.46496839,24.31,23.02457646,25.0084692,5.65743377,26.18040372,21.45,
                            21.30610731,15.91674887,10.69071851,15.91674887,21.15051345],
                           [27.90700128,24.76865382,26,33.1819511,33.15,10.60465754,31.59,21.45,30.94793897,
                            23.94176338,17.14793366,23.94176338,30.74566144]])

In [ ]:
np.array([26.3,11.7,27.6,28.3,29.4,24.7]).sum(),np.array([25.7,20.0,25.8,30.0,11.3,27.6]).sum(),np.array([24.6,11.7,29.9,27.7,29.4,25.6]).sum(),np.array([25.3,22.8,28.9,28.0,32.3,31.5]).sum()

In [ ]:
np.array([26.3,28.8]).mean(),np.array([27.6,30.0]).mean(),np.array([26.3,28.8]).mean(),np.array([25.3,30.5]).mean()